body,
            html {
              margin: 0;
              padding: 0;
              background-color: #10a2e6;
            }
      
            .container {
              min-height: 100vh;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
      
            #clock {
              font-family: "Orbitron", sans-serif;
              font-size: 10vw;
              background-image: linear-gradient(
                180deg,
                rgb(98, 8, 216) 0%,
                rgb(86, 63, 141) 50%,
                rgb(120, 94, 150) 100%
              );
      
              background-clip: text;
              -webkit-background-clip: text;
              -moz-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-text-fill-color: transparent;
            }
      
            input {
              border: 2px solid #ad1111;
              border-radius: 4px;
              display: block;
              font-size: 14px;
              padding: 10px 15px;
            }
      
            .controls {
              margin-top: 16px;
            }
      
            .button {
              font-weight: bold;
              border-radius: 5px;
              border: none;
              color: white;
              padding: 8px 20px;
              margin-left: 4px;
              cursor: pointer;
              font-size: 15px;
            }
      
            .set-alarm {
              background-color:#ac5298;
            }
      
            .clear-alarm {
              background-color: #ac5298;
            }